<tr>
    <td>!id!</td>
    <td>!title!</td>
    <td>!deadline!</td>
    <td>!priority!</td>
    <td>!memo!</td>
    <td>
        <form action = "system.php" method = "get">
            <input type = "submit" name = "submit" value = "削除">
            <input type = "hidden" name = "mode" value = "delete">
            <input type = "hidden" name = "id" value = "!id!">            
        </form>
    </td>
</tr>
